#second {
  color: blue;
  font-size: 36px;
}
.odd {
    background-color: rgb(228, 103, 103);
    font-family: Verdana, 'DejaVu Sans', sans-serif;
  }
  
  .odd.third {
    font-size: 24px;
  }
  
#forth {
    font-weight: bold;
    font-size: 24px;
    background-color: rgb(187, 238, 187);
  }